<div class="d-flex gap-4 p-3">
<h2>Bienvenido: {{user.name}}, {{user.lastName}}</h2>
<form id="formLogout2">
  <button class="btn btn-outline-danger"type="submit">Logout</button>
</form>

<a href="http://localhost:8080/profile">
<button type="button" class="btn btn-outline-primary">Profile</button>
</a>

<a href="http://localhost:8080">
<button type="button" class="btn btn-outline-secondary">Home</button>
</a>
</div>

</div>

<h1 class="text-center">Lista de productos</h1>

<div class="container pt-5" id="tableContainer">
  <table id="example" class="table table-sm table-hover table-bordered" style="width:100%">
<div class="d-flex justify-content-center">
  <!-- Button trigger modal -->
  
  <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Add Product
  </button>
    
  
  <div>
    <input type="hidden" id="cartTesting" value="{{cartTesting}}">
    <a id="carritoCompra" href="">
      <button
        type="button"
        class="btn btn-success mb-3 mx-3"
        id="cartPorduct"
        >
        Carrito de Compra
      </button>
    </a>
  </div>
  
  
</div>
<thead>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Stock</th>
    <th>Code</th>
    <th>Price</th>
    <th>Status</th>
    <th>thumbnails</th>
    <th>Category</th>
    <th>Accion</th>    
  </tr>
</thead>
<tbody id="bodyProductsList">        
  {{#if products}}
    {{#each productsList}}
      <tr>
        <th>{{this._id}}</th>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.stock}}</td>
        <td>{{this.code}}</td>
        <td>{{this.price}}</td>
        <td>{{this.status}}</td>
        <td>{{this.thumbnails}}</td>
        <td>{{this.category}}</td>
        <td>
          <button id={{this._id }} class="btn btn-secondary btnAddCart">AddCart</button>
        </td>        
      </tr>
    {{/each}}
  {{else}}
    <p>No hay productos para mostrar</p>
  {{/if}}
</tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {{#if data.hasPrevPage}}
    <li class="page-item"><a class="page-link" href="{{data.prevLink}}">Prev</a></li>
    {{/if}}   
    <li class="page-item"><a class="page-link" href=>Pagina {{data.page}} de {{data.totalPages}}</a></li>       
    {{#if data.hasNextPage}}
    <li class="page-item"><a class="page-link" href="{{data.nextLink}}">Next</a></li>
    {{/if}}
  </ul>
  <p>Total de productos {{data.totalDocs}}</p>
</nav>  
</div>

<!-- Modal Add Product -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3 needs-validation justify-content-center" 
          id="formAddProduct"
          novalidate
        >
          <div class="row text-center">
            <div class="col-6">
              <label for="input_title" class="form-label">Title</label>
              <input
                name="title"
                type="text"
                class="form-control"
                id="input_title"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label for="input_Description" class="form-label">Description</label>
              <input
                name="description"
                type="text"
                class="form-control"
                id="input_description"
                value=""
                required
              />
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <label for="input_stock" class="form-label">Stock</label>
              <input
                name="stock"
                type="number"
                class="form-control"
                id="input_stock"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label for="input_price"class="form-label">Price</label>
              <input
                 name="price" 
                type="number"
                class="form-control"
                id="input_price"
                value=""
                required
              />

            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <label for="code" class="form-label">Code</label>
              <input
                name="code"
                type="text"
                class="form-control"
                id="input_code"
                value=""
                required
              />
            </div>
            <div class="col-6">
              <label for="input_category" class="form-label">Category</label>
              <input
                 name="category"
                type="text"
                class="form-control"
                id="input_category"
                value=""
                required
              />
            </div>
          </div>
          <div class="row text-center">
            <div class="col-6">
              <label for="input_thumbnails" class="form-label">Thumbnails</label>
              <input
                name="thumbnails"
                type="text"
                class="form-control"
                id="input_thumbnails"
                value="Sin-Imagen"
              />
            </div>
            <div class="col-6">
              <label for="stainput_tus">status</label>
              <select name="status" class="form-select" id="input_status" required>
                <option selected disabled value="">Selecciones...</option>
                <option>true</option>
                <option>false</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" id="btnAddProductForm">Agregar
          Producto</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
        </form>
      </div>
      <div class="modal-footer">
        
    </div>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/products.js"></script>